body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

html {
    font-family: 'Consolas', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

blockquote {
    color: #008b8b;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.header h1 {
    margin: 0;
}

.main {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 100%;
    padding: 50px;
}

.main textarea {
    outline: none;
    background-color: #f2f2f2;
    width: 100%;
    transition: 0.3s;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 auto;
    resize: none;
}

.main textarea:hover {
    border-color: #008b8b;
}

#user_input {
    display: block;
    margin: 0 auto;
}

button.action_button {
    outline: none;
    border-radius: 50px;
    width: 110px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #000;
    background: #f2f2f2;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

button.action_button:hover {
    color: #008b8b;
    border-color: #008b8b;
}

.footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    padding: 10px 0;
}

.footer a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #008b8b;
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 18px;
    }
    .main {
        padding: 50px 10px;
    }
    .main h2 {
        font-size: 16px;
    }
    button.action_button {
        margin-top: 20px;
    }
}