body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

html {
    font-family: 'Consolas', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --bg-color: #f2f2f2;
    --text-color: #000;
    --border-color: #000;
    --switcher-bg: transparent url('../img/moon-light.svg') no-repeat center center;
    --header-shadow-color: rgba(0, 0, 0, 0.5);
    --footer-border-color: rgba(0, 0, 0, 0.1);
}

:root[theme="dark"] {
    --bg-color: #010101;
    --text-color: #a0a0a0;
    --border-color: #a0a0a0;
    --switcher-bg: transparent url('../img/moon-dark.svg') no-repeat center center;
    --header-shadow-color: rgba(255, 255, 255, 0.5);
    --footer-border-color: rgba(255, 255, 255, 0.1);
}

blockquote {
    color: #008b8b;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px 2px var(--header-shadow-color);
}

.header-wrapper {
    width: 100%;
    position: relative;
}

.header h1 {
    margin: 0;
}

.header .switch_theme_btn {
    background: var(--switcher-bg);
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
}

.main {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 100%;
    padding: 50px;
}

.main textarea {
    outline: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    transition: 0.3s;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 auto;
    resize: none;
}

.main textarea:hover {
    border-color: #008b8b;
}

#user_input {
    display: block;
    margin: 0 auto;
}

button.action_button {
    outline: none;
    border-radius: 50px;
    width: 110px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

button.action_button:hover {
    color: #008b8b;
    border-color: #008b8b;
}

.footer {
    text-align: center;
    border-top: 1px solid var(--footer-border-color);
    border-bottom: 1px solid var(--footer-border-color);
}

.footer p {
    margin: 0;
    padding: 10px 0;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #008b8b;
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 18px;
    }
    .main {
        padding: 50px 10px;
    }
    .main h2 {
        font-size: 16px;
    }
    button.action_button {
        margin-top: 20px;
    }
}